<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./dist/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" 
    rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Raja Ampat</title>
</head>
<body>
    <!-- navigation -->
    <header>
        <img src="./image/logo.png" style="margin: 0px 0 0 0; width:80px;height:30px; scale: 2.4;" />
    
        <nav>
          <a href="#home" class="active">Home</a>
          <a href="#aboutus">About Us</a>
          <a href="#information">Information</a>
          <a href="#activities">Activities</a>
          <a href="#reviews">Reviews</a>
        </nav>
      </header>
    <!-- navigation -->

    <!-- home-->
    <section id="home" class="background1">
        <div id="static-text">
            <h1>Welcome to Raja Ampat</h1>
            <p>Dive into Serenity</p>
        </div>    
        <div id="slideshow">
          <div class="slide-wrapper">
            <div class="slide">
                <img src="./image/bg1.jpeg" alt="Raja Ampat">
            </div>
            <div class="slide">
                <img src="./image/bg2.jpeg" alt="Raja Ampat">
            </div>
            <div class="slide">
                <img src="./image/bg3.jpeg" alt="Raja Ampat">
            </div>
            <div class="slide">
                <img src="./image/bg4.jpeg" alt="Raja Ampat">
            </div>
          </div>
        </div>
      </section>
    <!--home-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <!-- abaout us-->
    <section id="aboutus" class="aboutus">
        <div class="bg">
        </div>
        <div class="abt-text" 
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        data-aos-delay="50" 
        data-aos-duration="1500">
          <h3>About Us</h3>
        </div>
        <div class="abt-text2">
            <div class="abt-box"
            data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom"
            data-aos-delay="50" 
            data-aos-duration="2000">
              <p 
              data-aos="fade-up"
              data-aos-anchor-placement="bottom-bottom"
              data-aos-delay="50" 
              data-aos-duration="1500">
              Raja Ampat, yang terletak di ujung barat laut Papua, Indonesia, 
              dikenal sebagai surga bawah laut yang menakjubkan dengan terumbu 
              karangnya yang tak tertandingi. Destinasi ini mempesona para pengunjung 
              dengan keanekaragaman hayati laut yang luar biasa, melibatkan lebih dari 
              1.500 spesies ikan dan 600 jenis karang. Selain itu, keindahan alam Raja 
              Ampat juga mencakup pulau-pulau berbukit hijau yang mempesona, menjadikannya 
              tempat yang dicari para petualang dan penyelam dari seluruh dunia. </p>
            </div>
          </div>
      </section>
    <!-- abaout us-->

    <!-- information -->
    <section id="information" class="information" style="background-image: url('./image/raja\ ampat.jpeg')">
        <div class="allinfo">
            
          <div class="titleinfo"
          data-aos="fade-up"
          data-aos-anchor-placement="bottom-bottom"
          data-aos-delay="50" 
          data-aos-duration="1000">
            <center>
              <h1>Information</h1>
            </center>
          </div>
          <div class="wrapinfo"
          data-aos="fade-up"
          data-aos-anchor-placement="bottom-bottom"
          data-aos-delay="50" 
          data-aos-duration="1500">
            <div class="cardinfo">
              <div class="imginfo">
                <img src="./image/wni.png">
              </div>
              <div class="contentinfo">
                <h2>WNI</h2>
                <h4>Warga Negara Indonesia</h4>
                <h5>Raja Ampat Entrance Ticket</h5>
                <p>IDR 500.000,-</p>
                <h5>Valid For One Year</h5>
              </div>
            </div>
            <div class="cardinfo">
              <div class="imginfo">
                <img src="./image/wna.png">
              </div>
              <div class="contentinfo">
                <h2>WNA</h2>
                <h4>Warga Negara Asing</h4>
                <h5>Raja Ampat Entrance Ticket</h5>
                <p>IDR 1.000.000,-</p>
                <h5>Valid For One Year</h5>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- information -->

    <!-- activities -->
    <section id="activities" class="activities">
        <div class="allact">
          
          <center 
          data-aos="fade-up" 
          data-aos-delay="50" 
          data-aos-duration="800">
            <h1><br>Activites</h1>
          </center>
    
          <div class="activity-box">
            <div class="box">
                <a href="./dist/activities/Piaynemo/index.html">
                <div class="box1" 
                data-aos="fade-up"  
                data-aos-delay="50"
                data-aos-duration="1000">
                <div class="act-text">
                    <h2>Piaynemo Raja Ampat</h2>
                    <br>
                    <p>Operational Hour:</p>
                    <h5>10:00-17:00 WIT</h5>
                    <h6>Price start from  IDR 300.000</h6>
                </div>
                </div>
                </a>
          </div>
    
           <div class="box">
            <a href="./dist/activities/pulau misool/index.html">
                <div class="box2" 
                data-aos="fade-up" 
                data-aos-delay="100" 
                data-aos-duration="1500"> 
                    <div class="act-text2">
                        <h2>Pulau Misool</h2>
                        <br>
                        <p>Operational Hour:</p>
                        <h5>24 hours</h5>
                        <h6>Price start from IDR 200.000</h6>
                    </div>
                    </div>
            </a>
          </div>
    
          <div class="box">
            <a href="./dist/activities/Wayag/index.html">
                <div class="box3"
                data-aos="fade-up" 
                data-aos-delay="150" 
                data-aos-duration="2000">
                <div class="act-text3">
                    <h2>Wayag</h2>
                    <br>
                    <p>Operational Hour:</p>
                    <h5>24 hours</h5>
                    <h6>Price start from IDR 8.000.000</h6>
                </div>
                </div>
            </a>
          </div>
    
          <div class="box">
            <a href="./dist/activities/batu pensil/index.html">
            <div class="box4"
            data-aos="fade-up" 
            data-aos-delay="100" 
            data-aos-duration="1500">
              <div class="act-text4">
                <h2>Batu Pensil</h2>
                <br>
                <p>Operational Hour:</p>
                <h5>08:00-17:00 WIT</h5>
                <h6>Price start from IDR 50.000</h6>
              </div>
            </div>
            </a>
          </div>
    
          <div class="box">
            <a href="./dist/activities/star lagoon/index.html">
            <div class="box5"
            data-aos="fade-up" 
            data-aos-delay="150" 
            data-aos-duration="2000">
              <div class="act-text5">
                <h2>Star Lagoon</h2>
                <br>
                <p>Operational Hour:</p>
                <h5>24 hours</h5>
                <h6>Price start from IDR 150.000</h6>
              </div>
            </div>
            </a>
          </div>
    
          <div class="box">
            <a href="./dist/activities/pasir timbul/index.html">
            <div class="box6"
            data-aos="fade-up" 
            data-aos-delay="200" 
            data-aos-duration="2500">
                <div class="act-text6">
                  <h2>Pasir Timbul</h2>
                  <br>
                  <p>Operational Hour:</p>
                  <h5>24 hours</h5>
                  <h6>Price start from IDR 20.000</h6>
                </div>
              </div>
            </a>
            </div>
          </div>
        
        </div>
      </section>
    <!-- activities -->

    <!-- reviews -->
    <script src="./dist/js/script.js"></script>
    <html lang="en" ng-app="CommentApp">
        <section id="reviews" class="reviews" ng-controller="CommentController">
          <div class="kotakkiri">
              <h2>Write Us a Review!</h2><br>
              <form ng-submit="submitComment()">
                  <label for="name">Name :</label>
                  <input type="text" id="name" ng-model="newComment.name" required><br>
                  
                  <label for="message">Tell Us What You Think About Raja Ampat!</label>
                  <textarea id="message" ng-model="newComment.message" required></textarea><br>
                  
                  <button type="submit">Send Review</button>
              </form>
          </div>
          
          <div class="kotakkanan">
              <h2>Thank You for Your Review!</h2>
              <ul>
                <div class="box-kanan">
                  <li ng-repeat="comment in comments">
                    <div class="box-top">
                      <div class="profile-img">
                        <img src="./image/ppicon.png" alt="">
                      </div>
                      <div class="profile-name">
                        <strong>{{comment.name}}</strong>
                      </div>
                      <br>
                      <br>
                    </div> 
                      <div class="review-text">
                        "{{comment.message}}"
                      </div>
                  </li>
                </div>
              </ul>
          </div>
        </section>
      </html>
      
        <script src="script.js"></script>
      
        <footer>
          <div class="container">
            <div class="company-info">
              <h3>Raja Ampat</h3>
              <p>Gateway to Enjoying the Natural Wealth of Raja Ampat</p>
            </div>
            <div class="address-info">
              <h4>Address</h4>
              <p>Raja Ampat, Papua Barat, Indonesia</p>
            </div>
            <div class="social-media">
              <h4>Follow Us</h4>
              <ul>
                <li><a href="https://web.facebook.com/WonderfulIndonesiaIN/?_rdc=1&_rdr" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/wonderfulid?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">Twitter</a></li>
                <li><a href="https://www.instagram.com/wonderfulindonesia/" target="_blank">Instagram</a></li>
              </ul>
            </div>
          </div>
        </footer>
     <!-- reviews -->

</body>
</html>